<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:jaxws="http://cxf.apache.org/jaxws" 
xmlns:context="http://www.springframework.org/schema/context" 
xsi:schemaLocation=" http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
<import resource="classpath:META-INF/cxf/cxf.xml"/>
		<!--
 			Spring's component scan for identifying beans to be managed by the container. 
		-->
		<context:component-scan base-package="au.edu.unsw.soacourse.topdown"/>
		
        <jaxws:endpoint 
          id="helloWorld" 
          implementor="au.edu.unsw.soacourse.simple.HelloWorldImpl" 
          address="/HelloWorld" />
          
        <jaxws:endpoint 
          id="simpleServices" 
          implementor="au.edu.unsw.soacourse.simple.SimpleServicesImpl" 
          address="/SimpleServices" />  
        
		<jaxws:endpoint 
   			id="topdown" 
   			implementor="au.edu.unsw.soacourse.topdown.TopDownSimpleServiceImpl" 
   			address="/TopDownSimpleService">
   		
   		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="UsernameToken" />
						<entry key="passwordType" value="PasswordText" />
						<entry key="passwordCallbackRef" value-ref="myPasswordCallback" />
					</map>
				</constructor-arg>
			</bean>
		</jaxws:inInterceptors>
   		
		</jaxws:endpoint>
		
        <bean id="myPasswordCallback" class="au.edu.unsw.soacourse.topdown.UTPasswordCallback" />
          
</beans>
